<div class="Session">

    <h1>Registro:</h1>

    <form id="registerForm">

        <input type="text" name="first_name" placeholder="Nombre">

        <br/>

        <input type="text" name="last_name" placeholder="Apellido">

        <br/>

        <input type="text" name="email" placeholder="Correo">

        <br/>

        <input type="text" name="age" placeholder="Edad">

        <br/>

        <input type="password" name="password" placeholder="Contraseña">

        <br/>

        <input class="boton" type="submit">

    </form>

    <br/>
    <br/>

    <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>

</div>

<script src="/js/register.js"></script>